<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NintendoZones</key>
	<dict>
		<key>BELLWIFI@MCDONALDS</key>
		<array>
			<string>00:23:68:8F:25:50</string>
		</array>
		<key>KPN</key>
		<array>
			<string>00:20:A6:E3:5E:09</string>
			<string>FC:0A:81:4F:8D:52</string>
			<string>FC:0A:81:58:AE:E2</string>
			<string>00:1c:58:af:ac:40</string>
			<string>B4:A4:E3:B5:90:42</string>
		</array>
		<key>NZ@McD1</key>
		<array>
			<string>00:16:C8:17:8B:12</string>
		</array>
		<key>attwifi</key>
		<array>
			<string>00:0F:F7:00:2D:82</string>
			<string>50:3D:E5:75:50:62</string>
			<string>00:1A:A2:A2:17:23</string>
			<string>00:1F:CA:60:42:80</string>
			<string>00:22:55:C4:CC:10</string>
			<string>00:0F:8F:71:2E:A2</string>
			<string>00:15:63:9A:23:D2</string>
			<string>C4:71:FE:5B:B0:22</string>
			<string>00:0d:67:12:87:71</string>
			<string>00:21:55:B1:D8:90</string>
			<string>00:3A:9A:10:BF:91</string>
			<string>00:21:D8:DE:AC:00</string>
			<string>00:0D:67:1A:46:E7</string>
			<string>00:3A:99:5B:D0:82</string>
			<string>00:18:BA:C9:5E:90</string>
			<string>00:18:B9:B3:CE:70</string>
			<string>00:11:92:86:BE:40</string>
			<string>00:0d:67:12:86:c7</string>
			<string>00:16:C8:17:6E:30</string>
			<string>58:8D:09:B1:8A:62</string>
			<string>00:12:7F:CA:A1:A3</string>
			<string>00:1F:9E:D3:84:60</string>
			<string>00:0D:BD:AF:DA:4A</string>
			<string>00:1D:A2:D8:7D:80</string>
			<string>00:0D:67:26:68:80</string>
			<string>00:22:55:C3:9E:B0</string>
			<string>00:0D:67:1A:67:F3</string>
			<string>00:14:69:1E:D3:93</string>
			<string>00:0D:0A:33:ED:72</string>
			<string>00:1F:9E:D3:64:60</string>
			<string>00:12:01:96:98:A2</string>
			<string>00:0D:67:1A:97:F0</string>
			<string>00:1E:13:42:CA:50</string>
			<string>00:1F:CA:60:3E:20</string>
			<string>00:90:FB:17:BE:9E</string>
			<string>00:13:60:11:b3:22</string>
			<string>00:88:65:54:B9:8B</string>
			<string>00:1E:13:43:92:F0</string>
			<string>00:90:FB:32:8C:A4</string>
			<string>00:21:D8:DE:AB:C0</string>
			<string>00:24:14:10:df:12</string>
			<string>00:15:c6:29:51:42</string>
			<string>00:14:6a:c5:69:52</string>
			<string>5c:0a:5b:2f:3e:61</string>
			<string>00:22:55:C3:9E:A0</string>
			<string>00:15:c6:29:5f:92</string>
			<string>00:11:92:8D:A3:80</string>
			<string>00:26:99:4E:B2:30</string>
			<string>00:13:1A:13:06:42</string>
			<string>00:11:93:05:CE:F0</string>
			<string>58:6d:8f:0f:ad:7b</string>
			<string>e8:40:40:cd:ed:21</string>
			<string>c4:71:fe:5b:de:f2</string>
			<string>C4:71:FE:5C:2D:F2</string>
			<string>00:21:D8:34:41:70</string>
			<string>00:1D:70:9B:08:62</string>
			<string>00:21:55:B4:E4:00</string>
			<string>F0:7D:68:16:B7:2D</string>
			<string>48:5A:B6:C0:35:27</string>
			<string>00:12:00:CD:0F:72</string>
			<string>34:A8:4E:9A:E7:51</string>
			<string>00:0D:67:68:AE:99</string>
			<string>00:0d:67:6a:25:27</string>
			<string>20:37:06:6c:fe:c7</string>
			<string>00:0f:8f:1d:6f:d2</string>
			<string>00:13:7f:53:c5:c2</string>
			<string>00:1a:6c:f3:67:42</string>
			<string>00:3a:9a:64:c1:b0</string>
			<string>00:22:55:c3:cb:10</string>
			<string>00:0f:f7:20:82:62</string>
			<string>00:15:C6:6A:B3:52</string>
			<string>04:c5:a4:8d:14:18</string>
			<string>04:c5:a4:8d:14:17</string>
			<string>00:0d:67:1c:1b:24</string>
			<string>00:90:FB:2A:17:D0</string>
			<string>00:90:FB:2A:C8:96</string>
			<string>00:90:FB:37:97:BA</string>
			<string>00:90:FB:2A:04:14</string>
			<string>00:22:90:9a:e2:82</string>
			<string>00:0d:67:14:2f:89</string>
			<string>00:0f:24:80:98:32</string>
			<string>00:26:5a:86:b2:67</string>
		</array>
		<key>hotspot-gratuit.com</key>
		<array>
			<string>00:22:6b:6e:34:3a</string>
		</array>
	</dict>
	<key>UserMACs</key>
	<array>
		<string>34:08:04:BF:AC:8A</string>
		<string>CC:FE:3C:92:DF:43</string>
		<string>A6:F3:C1:0B:C6:7E</string>
		<string>62:36:DD:7E:05:B9</string>
		<string>60:36:DD:7E:05:B8</string>
		<string>00:EB:2D:D8:62:AA</string>
		<string>7C:61:93:07:6C:25</string>
		<string>F4:6D:04:A1:6B:86</string>
		<string>00:25:86:D1:D8:A3</string>
		<string>00:02:72:7D:96:0C</string>
		<string>06:1B:9E:28:FB:B2</string>
		<string>C0:3F:0E:8F:2B:1A</string>
		<string>00:E0:B8:AE:08:04</string>
		<string>00:0C:F6:C4:88:00</string>
		<string>10:68:3F:37:E0:2C</string>
		<string>00:23:14:A7:FC:11</string>
		<string>90:F6:52:D0:BE:A2</string>
		<string>00:17:82:F5:88:38</string>
		<string>00:14:A5:C6:3A:64</string>
		<string>CC:3A:61:08:16:DF</string>
		<string>A4:C0:E1:69:0A:F8</string>
		<string>90:94:E4:A9:EF:CE</string>
		<string>00:1B:B9:8C:65:FF</string>
		<string>84:00:D2:B2:51:F1</string>
		<string>88:53:2E:0B:74:5E</string>
		<string>F4:EC:38:E1:CC:97</string>
		<string>10:BF:48:B3:C7:94</string>
		<string>8C:A9:82:1F:2C:EE</string>
		<string>00:1F:C6:42:41:8C</string>
		<string>20:AA:4B:36:D3:86</string>
		<string>90:18:7C:89:30:16</string>
		<string>9C:2A:70:7F:FD:A4</string>
		<string>B4:98:42:ED:FF:6B</string>
		<string>F8:01:13:79:05:59</string>
		<string>00:1D:7E:2A:C7:7E</string>
		<string>00:18:E7:9C:D4:DB</string>
		<string>00:14:78:52:F5:7E</string>
		<string>74:F6:12:C9:28:3B</string>
		<string>74:EA:3A:EF:90:86</string>
		<string>00:25:F1:D9:F8:A2</string>
		<string>C8:3A:35:93:27:02</string>
		<string>1C:B0:94:45:8F:D4</string>
		<string>34:08:04:BF:69:8A</string>
		<string>98:2C:BE:05:63:C9</string>
		<string>00:22:6B:62:F0:19</string>
		<string>00:22:6B:62:F0:1A</string>
		<string>EC:1A:59:09:86:85</string>
		<string>74:44:01:85:1D:FE</string>
		<string>00:24:36:AC:D4:D1</string>
		<string>00:18:F8:DA:62:41</string>
		<string>00:25:D3:92:FA:6C</string>
		<string>C4:3D:C7:A0:18:1B</string>
		<string>E2:91:F5:FB:8E:09</string>
		<string>44:6D:57:01:79:AA</string>
		<string>A4:B1:E9:E9:84:BD</string>
		<string>50:CC:F8:65:33:1F</string>
		<string>C0:3F:0E:C4:74:78</string>
		<string>00:22:A4:7C:1A:18</string>
		<string>34:AF:2C:EA:DF:34</string>
		<string>14:10:9F:E1:70:47</string>
		<string>20:C9:D0:23:42:B5</string>
		<string>00:22:3F:A9:0D:D6</string>
		<string>00:1E:E5:E7:14:2D</string>
		<string>84:C9:B2:DA:DC:1A</string>
		<string>00:22:2D:84:22:F4</string>
		<string>6C:71:D9:54:4E:87</string>
		<string>E0:91:F5:6F:8B:B0</string>
		<string>20:4E:7F:5A:09:1F</string>
		<string>00:26:42:3C:AD:E0</string>
		<string>90:18:7C:1E:C5:75</string>
		<string>9C:E6:35:D9:33:CB</string>
		<string>68:7F:74:C6:9A:21</string>
		<string>68:7F:74:C6:9A:22</string>
		<string>68:7F:74:C6:9A:1F</string>
		<string>F8:1A:67:45:52:9E</string>
		<string>20:AA:4B:33:89:81</string>
		<string>00:26:F2:EF:31:97</string>
		<string>64:66:B3:68:C0:49</string>
		<string>00:24:17:ED:E7:62</string>
		<string>88:44:F6:26:12:8C</string>
		<string>78:59:5E:6F:E3:6A</string>
		<string>00:26:18:51:82:7A</string>
		<string>84:74:2A:02:52:0B</string>
		<string>10:6F:3F:38:F0:B8</string>
		<string>AC:81:12:56:41:2D</string>
		<string>E0:46:9A:8B:BA:59</string>
		<string>64:70:02:D7:C7:F3</string>
		<string>2C:B0:5D:97:84:CB</string>
		<string>00:22:3F:92:2D:AE</string>
		<string>F8:1A:67:42:E8:0A</string>
		<string>C8:D7:19:B7:CF:DB</string>
		<string>00:23:4E:8F:C7:C0</string>
		<string>00:16:17:3E:26:6D</string>
		<string>00:18:E7:A7:D8:1A</string>
		<string>1C:6F:65:A6:31:CC</string>
		<string>00:0C:F6:C2:EA:58</string>
		<string>00:06:4F:84:65:12</string>
		<string>2A:BE:19:DE:DD:6F</string>
		<string>C0:C1:C0:23:6B:7A</string>
		<string>C8:BC:C8:E9:0A:9D</string>
		<string>E4:48:C7:85:8D:20</string>
		<string>00:26:BB:13:58:8B</string>
		<string>00:17:3F:56:0C:5E</string>
		<string>28:16:2E:DB:BB:21</string>
		<string>FE:1A:67:65:67:72</string>
		<string>84:C9:B2:E2:94:B5</string>
		<string>00:14:95:B9:D2:70</string>
		<string>98:2C:BE:DA:65:C8</string>
		<string>BC:14:01:C3:53:80</string>
		<string>0C:D5:02:13:B6:38</string>
		<string>1C:6F:65:AA:D0:36</string>
		<string>00:1A:2B:A5:C3:31</string>
		<string>B4:62:93:65:CC:F2</string>
		<string>34:08:04:E3:46:CD</string>
		<string>00:21:85:72:86:D1</string>
		<string>C8:D7:19:80:D7:C4</string>
		<string>28:C6:8E:1D:7D:60</string>
		<string>F8:D1:11:4B:1A:07</string>
		<string>2C:B0:5D:38:EF:C4</string>
		<string>9C:D3:6D:FF:75:51</string>
		<string>88:32:9B:36:95:F2</string>
		<string>B8:8D:12:60:B3:AF</string>
		<string>00:06:25:3B:E1:FA</string>
		<string>40:4A:03:A4:31:3B</string>
		<string>98:F5:37:79:68:59</string>
		<string>00:17:9A:FD:A7:E7</string>
		<string>00:14:BF:77:E9:15</string>
		<string>28:10:7B:3C:2F:C1</string>
		<string>00:26:5A:2C:C2:25</string>
		<string>00:17:3F:17:B4:0E</string>
		<string>00:26:5A:2C:C2:25</string>
		<string>00:21:04:1C:08:28</string>
		<string>60:2A:D0:88:B6:84</string>
		<string>C0:3F:0E:1D:DB:45</string>
		<string>9C:E6:E7:D3:78:00</string>
		<string>38:EA:A7:DE:58:1D</string>
		<string>CC:5D:4E:DA:9B:EA</string>
		<string>00:1C:10:C1:F8:36</string>
		<string>3E:6A:31:7E:75:E1</string>
		<string>34:6B:D3:7B:52:12</string>
		<string>6C:B7:F4:B5:78:F2</string>
		<string>F0:7D:68:E1:2B:88</string>
		<string>64:1C:67:5A:E3:B6</string>
		<string>00:24:B2:96:C5:91</string>
		<string>8C:3A:E3:6E:E1:CA</string>
		<string>CC:C3:EA:B3:B4:55</string>
		<string>F4:55:9C:F2:BA:58</string>
		<string>E0:46:9A:56:74:6D</string>
		<string>2C:B0:5D:5E:07:7B</string>
		<string>B8:A3:86:20:5C:EC</string>
		<string>54:E6:FC:A2:F1:E6</string>
		<string>F4:55:9C:F2:BA:58</string>
		<string>90:6F:52:6F:6E:C2</string>
		<string>00:14:78:52:F5:7E</string>
		<string>30:39:26:20:15:F8</string>
		<string>E0:91:F5:F0:95:35</string>
		<string>F4:F5:A5:F8:34:DA</string>
		<string>E8:6D:52:01:23:29</string>
		<string>DC:0B:1A:17:87:17</string>
		<string>4C:80:93:44:AF:B1</string>
		<string>B8:C6:8E:31:BB:CF</string>
		<string>F8:1A:67:21:C9:7F</string>
		<string>68:7F:74:77:AC:89</string>
		<string>48:5B:39:5C:E1:39</string>
		<string>20:02:AF:3E:45:24</string>
		<string>00:19:5B:99:96:37</string>
		<string>10:3B:59:B6:CE:E8</string>
		<string>F8:8F:CA:06:AD:A8</string>
		<string>F4:EC:38:FF:96:D8</string>
		<string>00:26:5A:A4:D8:77</string>
		<string>E0:75:7D:17:55:95</string>
		<string>00:25:9C:28:F2:4C</string>
		<string>10:3B:59:B4:63:18</string>
		<string>9C:D2:1E:85:38:AB</string>
		<string>00:26:91:63:19:B5</string>
		<string>10:9F:A9:41:FD:C2</string>
		<string>C4:46:19:A2:9C:C0</string>
		<string>CC:3A:61:B6:D0:54</string>
		<string>74:D4:35:91:82:95</string>
		<string>00:18:0A:7F:D9:E0</string>
		<string>5C:D9:98:6B:C6:D9</string>
		<string>48:59:29:BE:77:CE</string>
		<string>04:A1:51:8D:66:E3</string>
		<string>08:96:D7:70:64:55</string>
		<string>10:0D:7F:84:05:3D</string>
		<string>9C:D3:6D:B7:67:40</string>
		<string>18:87:96:17:21:C7</string>
		<string>70:71:BC:2A:5D:04</string>
		<string>B8:AE:6E:3C:B2:41</string>
		<string>E8:3E:FC:72:F2:B0</string>
		<string>9C:D3:6D:9C:89:08</string>
		<string>00:22:FB:B3:36:50</string>
		<string>00:1F:5B:C6:7C:89</string>
		<string>00:18:39:E6:67:6F</string>
		<string>00:1A:EF:0C:64:C9</string>
		<string>30:19:66:0A:95:F3</string>
		<string>CC:C3:EA:AA:B7:61</string>
		<string>28:28:5D:7F:C9:90</string>
		<string>C8:0A:A9:F8:7D:B9</string>
		<string>20:4E:7F:7E:6B:47</string>
		<string>2C:E4:12:8E:2D:D5</string>
		<string>50:2E:5C:39:64:00</string>
		<string>00:23:CD:F7:7F:54</string>
		<string>24:FD:52:0C:41:59</string>
		<string>58:6D:8F:4A:E6:B0</string>
		<string>C4:A8:1D:7C:E3:64</string>
		<string>6C:2F:2C:15:9E:CA</string>
		<string>B4:75:0E:F1:52:AE</string>
		<string>34:AF:2C:45:28:E5</string>
		<string>34:4D:F7:5F:7E:6A</string>
		<string>F8:1A:67:20:F0:FD</string>
		<string>00:19:C7:F3:4A:90</string>
		<string>08:BD:43:7C:AD:72</string>
		<string>70:F1:A1:03:6B:9A</string>
		<string>C4:A8:1D:24:1A:D0</string>
		<string>08:96:D7:5B:CC:EF</string>
		<string>98:52:B1:B3:90:59</string>
		<string>DC:71:44:AE:41:E8</string>
		<string>88:30:8A:F9:1B:B6</string>
		<string>4E:53:50:4F:4F:36</string>
		<string>9C:E6:35:F0:AA:6A</string>
		<string>00:24:01:F4:80:55</string>
		<string>00:21:7C:D7:80:40</string>
		<string>00:1D:72:A0:A0:A1</string>
		<string>E0:24:7F:31:1E:AD</string>
		<string>8C:89:A5:32:EB:50</string>
		<string>CC:5D:4E:FB:3E:4D</string>
		<string>00:26:44:26:41:85</string>
		<string>10:0D:7F:AA:54:A0</string>
		<string>78:92:9C:0C:A1:81</string>
		<string>9C:B7:0D;6A:4F:CA</string>
		<string>74:EA:3A:CA:C0:EC</string>
		<string>9C:E6:35:0E:66:A9</string>
		<string>00:04:ED:F3:28:4C</string>
		<string>88:30:8A:5C:0B:73</string>
		<string>FC:19:10:50:03:C9</string>
		<string>00:18:01:C7:3C:41</string>
		<string>68:17:29:A1:AE:C8</string>
		<string>60:D9:C7:CB:4D:E5</string>
		<string>CB:8E:19:6B:D1:F2</string>
		<string>20:CF:30:E3:39:C0</string>
		<string>10:1F:74:0B:50:C5</string>
		<string>E8:99:C4:67:90:A8</string>
		<string>20:F3:A3:CD:AD:03</string>
		<string>00:24:B2:0E:15:CD</string>
		<string>94:10:3E:03:16:0F</string>
		<string>88:32:9B:C3:29:34</string>
		<string>04:A1:51:BC:77:5B</string>
		<string>BC:5F:F4:C9:0E:F5</string>
		<string>00:04:ED:7E:29:75</string>
		<string>B4:52:7E:45:4F:E7</string>
		<string>5E:7F:38:59:DA:FB</string>
		<string>C0:D9:62:7E:2D:71</string>
		<string>E8:99:C4:84:FC:95</string>
		<string>74:D0:2B:A7:F7:8E</string>
		<string>14:DA:E9:6F:F8:93</string>
		<string>FA:D1:11:61:B4:46</string>
		<string>00:22:3F:97:0E:51</string>
		<string>60:2A:D0:7F:87:C6</string>
		<string>00:24:D1:8A:3B:73</string>
		<string>00:23:69:4D:FC:9E</string>
		<string>E4:F4:C6:23:B7:01</string>
		<string>88:32:9B:98:1F:31</string>
		<string>E4:F4:C6:23:B7:00</string>
		<string>88:30:8A:64:99:5D</string>
		<string>C4:85:08:8F:E8:CD</string>
		<string>00:25:9C:6E:7A:C5</string>
		<string>BC:5F:F4:73:6D:88</string>
		<string>00:1C:C2:14:77:8C</string>
		<string>80:BE:05:21:29:43</string>
		<string>36:CC:20:11:F5:86</string>
		<string>C4:04:15:A9:E2:06</string>
		<string>00:05:59:38:94:34</string>
		<string>54:A0:50:EF:BA:8C</string>
		<string>CC:FB:65:33:33:D7</string>
		<string>9C:04:EB:04:7D:7C</string>
		<string>A8:A6:68:7B:D6:41</string>
		<string>84:A8:E4:11:43:28</string>
		<string>38:2C:4A:AC:A8:20</string>
		<string>00:23:6C:7B:AC:45</string>
		<string>54:04:A6:D3:36:E2</string>
		<string>80:37:73:BE:76:06</string>
		<string>44:80:EB:44:98:C3</string>
		<string>44:80:EB:EE:DD:B3</string>
		<string>CC:FB:65:F2:56:64</string>
		<string>84:25:DB:6D:D8:5D</string>
		<string>88:30:8A:39:8A:C1</string>
		<string>50:67:F0:0F:DD:C9</string>
		<string>E8:D4:E0:49:7B:AA</string>
		<string>00:0C:E7:83:CF:02</string>
		<string>E8:DE:27:55:FD:86</string>
		<string>10:FE:ED:A1:C7:43</string>
		<string>10:FE:ED:A1:C7:42</string>
		<string>E8:DE:27:55:FD:87</string>
		<string>40:F3:08:32:E3:F0</string>
		<string>E8:FC:AF:0A:2C:48</string>
	</array>
</dict>
</plist>
